In [4]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 1st Question

In [3]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [5]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.tail(1))

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4

In [8]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [9]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quant","TransactionDate":"TID"},inplace=True)
print(df)

   TransactionID         TID  UserID  ProductID  Quant
0              1  2010-08-21     7.0          2      1
1              2  2011-05-26     3.0          4      1
2              3  2011-06-16     3.0          3      1
3              4  2012-08-26     1.0          2      3
4              5  2013-06-06     2.0          4      1
5              6  2013-12-23     2.0          5      6
6              7  2013-12-30     3.0          4      1
7              8  2014-04-24     NaN          2      3
8              9  2015-04-24     7.0          4      3
9             10  2016-05-08     3.0          4      4

In [1]:
import pandas as pd
from datetime import date
now=pd.to_datetime(str(date.today()), format='%Y-%m-%d')
print("today's date:")
print(now)

today's date:
2025-01-28 00:00:00

In [6]:
import pandas as pd
df = pd.read_csv("transactions.csv")
second_row=df.iloc[1].values
print("printing second row from transactions.csv file")
print(second_row)

printing second row from transactions.csv file
[2 '2011-05-26' 3.0 4 1]

# 2nd Question

In [8]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(len(df.columns))

5

# 3rd Number of records

In [9]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(len(df))

10

In [ ]:
4th

# 4th row names

In [14]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 5th column names

In [15]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.columns.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

# 6th view top 10 records

In [16]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 7th Change the name of column “ Quantity” to “Quant”

In [17]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

# 8.Change the name of columns ProductID and UserID

In [18]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

# 9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

In [23]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.sort_values(by='TransactionID', ascending=False))
print(df.sort_values(by='TransactionID', ascending=True))

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending

In [25]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.sort_values(by='TransactionDate', ascending=False))
print(df.sort_values(by='Quantity', ascending=True))

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

# 11. Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID

In [28]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.sort_values(by='Quantity', ascending=True))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

# 12. Make UserID the first column of transactions

In [ ]:
import pandas as pd
import numpy as np

# Example dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],  # 2nd column
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the 2nd column as a Series
second_column_series = df.iloc[:, 1]  # Index 1 corresponds to the 2nd column
print("2nd column as Series:")
print(second_column_series)

# Extract the 2nd column as a NumPy array
second_column_array = df.iloc[:, 1].to_numpy()
print("\n2nd column as NumPy array:")
print(second_column_array)

In [33]:
import pandas as pd
df = pd.read_csv("transactions.csv")
c=['UserID']+[col for col in df.columns if col != 'UserID']
print(df[c])

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

# 13. Extracting arrays from a Data Frame. Get the 2nd column

In [36]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.TransactionDate)

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

# 14. Get the ProductID Array

In [37]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.ProductID)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

# 15. Get the ProductId array using the following variable x

In [39]:
import pandas as pd
df = pd.read_csv("transactions.csv")
print(df.ProductID)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

# 16. Subset rows 1, 3, and 6 (considering 0-based indexing, these are indices 0, 2, and 5)

In [5]:
subset_16 = df.iloc[[0, 2, 5]]
print(subset_16)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

# 17. Subset rows excluding 1, 3, and 6

In [6]:
subset_17 = df.drop([0, 2, 5])
print(subset_17)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 18. Subset the first three rows

In [7]:
subset_18 = df.head(3)
print(subset_18)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

# 19. Subset the last two rows

In [9]:
subset_19 = df.tail(2)
print(subset_19)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 20. Subset rows excluding the last two rows

In [12]:
subset_20 = df.iloc[:-2]
print(subset_20)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

# 21. Subset rows excluding the first three rows

In [11]:
subset_21 = df.iloc[3:]
print(subset_21)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 22. Subset rows where Quantity > 1

In [13]:
subset_22 = df[df['Quantity'] > 1]
print(subset_22)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 23. Subset rows where UserID = 2

In [16]:
subset_23 = df[df['UserID'] == 2]
print(subset_23)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

# 24. Subset rows where Quantity > 1 and UserID = 2

In [17]:
subset_24 = df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(subset_24)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

# 25. Subset rows where Quantity + UserID > 3 (ignoring NaN in UserID)

In [18]:
subset_25 = df[df['Quantity'] + df['UserID'].fillna(0) > 3]
print(subset_25)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 26. Subset rows where external array 'foo' is True

In [23]:
foo = [True, False, True, False, True, False, True, False, True, False]
subset_26 = df.loc[foo]
print(subset_26)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

# 27. Subset rows where external array 'bar' is positive

In [25]:
bar = [1, -1, 2, -2, 3, -3, 4, -4, 5, -5]
subset_27 = df.loc[[b > 0 for b in bar]]
print(subset_27)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

# 28. Subset rows where foo is True or bar is negative

In [27]:
subset_28 = df[[f or b < 0 for f, b in zip(foo, bar)]]
print(subset_28)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 29. Subset rows where foo is not True and bar is not negative

In [28]:
subset_29 = df[[not f and b >= 0 for f, b in zip(foo, bar)]]
print(subset_29)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

# 30. Subset by columns 1 and 3 (0-based: columns at indices 0 and 2 are TransactionID and UserID)

In [29]:
subset_30 = df.iloc[:, [0, 2]]
print(subset_30)

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

# 31. Subset by columns TransactionID and TransactionDate

In [30]:
subset_31 = df[['TransactionID', 'TransactionDate']]
print(subset_31)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 32. Subset by columns TransactionID and TransactionDate with logical operator (e.g., TransactionID > 3)

In [31]:
subset_32 = df[df['TransactionID'] > 3][['TransactionID', 'TransactionDate']]
print(subset_32)

   TransactionID TransactionDate
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 33. Subset columns by a variable list of column names

In [32]:
columns_list = ['TransactionID', 'ProductID']
subset_33 = df[columns_list]
print(subset_33)

   TransactionID  ProductID
0              1          2
1              2          4
2              3          3
3              4          2
4              5          4
5              6          5
6              7          4
7              8          2
8              9          4
9             10          4

# 34. Subset columns excluding a variable list of column names

In [33]:
exclude_columns = ['UserID', 'Quantity']
subset_34 = df.drop(columns=exclude_columns)
print(subset_34)

   TransactionID TransactionDate  ProductID
0              1      2010-08-21          2
1              2      2011-05-26          4
2              3      2011-06-16          3
3              4      2012-08-26          2
4              5      2013-06-06          4
5              6      2013-12-23          5
6              7      2013-12-30          4
7              8      2014-04-24          2
8              9      2015-04-24          4
9             10      2016-05-08          4

# 35. Inserting and updating values (e.g., update Quantity in row 0 to 5)

In [1]:
df.loc[0, 'Quantity'] = 5

NameError: name 'df' is not defined

# 36. Convert the TransactionDate column to type Date

In [35]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

# 37. Insert a new column, Foo = UserID + ProductID

In [36]:
df['Foo'] = df['UserID'].fillna(0) + df['ProductID']